.project-card.mdl-card {
    width: 500px;
}

#website-card>.mdl-card__title {
    background: url('http://placehold.it/500x200') bottom;
    height: 200px;
}

#tasking-card>.mdl-card__title {
    background: url("../images/tasking/tasking_banner.png") bottom;
    height: 250px;
    background-size: 100% 100%;
}

.project-card-inner {
    margin-left: 10px;
    margin-right: 10px;
}

.project-card-outer {
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.github-image {
    height: auto;
    width: 50px;
    margin-right: 10px;
}

#name-header {
    display: flex;
    align-items: center;
}

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout__header-row {
    padding-left: 40px;
    margin: 10px;
}

.mdl-layout__tab-bar {
    height: 100%;
}

.mdl-grid {
    margin: auto;
}

.mdl-layout__content {
    background-color: #FAFAFA;
}

.projectCard.mdl-button {
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 100;
}

.mdl-button--fab {
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 100;
}

.mdl-layout__tab-bar-container {
    overflow: visible;
}

#about-me {
    /*  width: 50%;*/
    margin: auto;
    text-align: center;
    /*  height: 30px;*/
    min-height: 0px;
    /*  height: 10%;*/
    width: 70%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#about-me>.mdl-card__supporting-text {
    padding: 0px;
    width: auto;
}
