.website-card.mdl-card {
  width: 500px;
  margin: auto;
}
.website-card > .mdl-card__title {
  background: url('http://placehold.it/500x200') bottom;
  height: 200px;
}
.projects {
  margin-top: 20px;
}
html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-layout__tab-drawer-button {
  display: none;
}
