.website-card.mdl-card {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#projectCard > .mdl-card__title {
  background: url('http://placehold.it/500x200') bottom;
  height: 200px;
}
#taskingCard > .mdl-card__title {
  background: url("../images/feature_graphic.png") bottom;
  height: 250px;
  background-size: 100% 100%;
}
#taskingCard > mdl-card__title-text {
  display: none;
}
.page-content {
  margin-top: 40px;
}
html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-layout__header-row {
  padding-left: 40px;
  margin: 10px;
}
.mdl-layout__tab-bar {
  padding-left: 40px;
  height: 100%;
}
.about-me-card {
  width: auto;
  margin: 20px;
}
.headshot {
  background: url('http://placehold.it/200x200') center / cover;
  height: 200px;
  width: 200px;
  /*  margin: 20px;*/
}
.mdl-layout__content {
  background-color: #FAFAFA;
}
.mdl-grid {
  width: 100%;
}
.projectCard.mdl-button {
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 100;
}
.mdl-button--fab {
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 100;
}
.mdl-layout__tab-bar-container {
  overflow: visible;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
