// colors
$mainPageColor: #F5F5F5;

* {
    font-family: 'Roboto', sans-serif;
}

#drawer * {
    background-color: $mainPageColor;
}

paper-item * {
    min-height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    align-items: center;
    display: flex;
}

paper-material {
    margin: 10px;
    height: auto;
}

#name {
    font-size: 20px;
}
