html, body {
	background-color: #E3E3E3;
	font-family: 'RobotoDraft', sans-serif;
	margin: 0;
	height: 100%;
}
#proyecto {
	height: 50%;
	width: 50%;
	background-color: #bb0afd;
}
#mayo {
	background-color: #dd44aa;
}
core-header-panel {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
core-toolbar {
	background: #303F9F;
	color: white;
}
paper-tabs::shadow #selectionBar {
  background-color: #E3DC14;
}
paper-tabs paper-tab::shadow #ink {
  color: #E3DC14;
}
polyfill-next-selector { content: '.card-header h2'; }
.card-header ::content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}
polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

h1{
  text-align: center;
}